<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bazy Danych to moja pasja <3</title>
</head>

<body>

    <div class="container">
        <div class="header">
            <h2 class="text-itallic">temporary web page</h2>
        </div>

        <div class="jumbotron">
            <h1>Python Flask Movie Theater App</h1>
            <p class="lead"></p>
            <p> We are truly sorry for the inconvenience, but our frontend professional has left our company. We are currently
                looking for a replacement, and in the meantime we try our best to use this monstrosity we dare call
                an actual web page. <br> In order to navigate our site, you must add a specific sequence of characters
                at the end of your browser bar. Try some of the following endpoints below:
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>/get_movies</h4>
                <p>Learn what movies we play in our theater!</p>

                <h4>/get_movies/xxx</h4>
                <p>Put a movie genre in place of "xxx" (e.g. "comedy") in order to view movies only of that certain genre.</p>

                <h4>/genres</h4>
                <p>Find out about all the genres of movies played in our theater.</p>
            </div>

            <div class="col-lg-6">
                <h4>/create_reservation</h4>
                <p>Make a reservation</p>


            </div>
        </div>

        <footer class="footer">
            <p>&copy; Wojciech Mościński 2022</p>
        </footer>

    </div>
</body>
